header{
  height: 40px;
  width: 100%;
  position: fixed;
}
nav{
  height: 100%;
  font-size: 25px;
  ul{
    display: flex;
    height: 100%;
    background-color: #f0f0f0;
    li{
      // margin-left: 10px;
      text-align: center;
      height: 100%;
      width: 95px;
      display: inline-block;
      a{
        text-decoration: none;
      }
      a:visited{
        color: black;
      }
    }
    li:hover{
      background: #afafaf;
    }
  }
}
main{
  width: 100vw;
  height: 100vh;
  padding-top: 40px;
  #Home{
    margin-top: -40px;
    padding-top: 40px;
    width: 100%;
    min-height: 100vh;
  }
  #Profile{
    margin-top: -40px;
    padding-top: 40px;
    width: 100%;
    min-height: 100vh;
  }
  #Works{
    margin-top: -40px;
    padding-top: 40px;
    width: 100%;
    min-height: 100vh;
  }
}